<section data-ng-controller="ReplacementsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Replacements</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="replacement in replacements" data-ng-href="#!/replacements/{{replacement._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="replacement.created | date:'medium'"></span>
				by
				<span data-ng-bind="replacement.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="replacement.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!replacements.$resolved || replacements.length">
    	No Replacements yet, why don't you <a href="/#!/replacements/create">create one</a>?
    </div>
</section>